body {
  background-color : #a3ffff;
}
.maintitle {
  font-size : 50px;
  color : #7f7fff;
  font-family : fantasy;
}
.main-text {
  color : #ff7f7f;
  font-family : fantasy;
  font-size : 20px;
}
